.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/*/build/
/build
release/
/captures
.externalNativeBuild
local.properties
/local.properties
.idea/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/gradle.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.iml
*.apk
/mobile/config.txt
*.iml